*, *::before, *::after {
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.calculator-grid {
  width: 300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  row-gap: 20px;
  border: 2px solid red;
  align-content: center;
  justify-items: center;
  }

  .output {
  grid-column: 1 / -1;
  border: 2px solid blue;
  height: 50px;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: flex-end;
  }

  .output .previous-operand{
    color: rgba(255,255, 255, 0.75);
    font-size: 1.5rem;
  }

  .output .current-operand{
    color: white;
    font-size: 2.5rem;
  }

  button {
    cursor: pointer;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid grey;
    outline: none;
    background-color: rgba(5, 5, 5, 0.8);
    color: rgba(255,255, 255, 0.75);
  }

  .calculator-grid > button:hover {
    background-color: #a9a9a9;
  }

  .span-two {
    grid-column: span 2;
    width: 125px;
    height: 50px;
  }

  .grey {
    background-color: #a9a9a9;
  }

  .orange {
    background-color: rgb(230, 137, 45);
  }


  @media only screen and (min-width: 600px) {
    body {
      background-color: lightblue;
    }
  }